# 🍃 Geçici dosyalar ve sistem çıktıları
*.log
*.swp
*.pyc
.DS_Store
.metadata
.history
.atom/
.svn/
migrate_working_dir/
*.class

# 💼 IDE ve editör ayarları
.idea/
*.iml
*.ipr
*.iws
.vscode/
# VS Code içindeki yapılandırmaları dahil etmek istiyorsan bu satırı kaldırabilirsin

# 📦 Flutter / Dart / Pub ile ilgili
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
doc/api/

# 📱 Flutter iOS & Android build dosyaları
**/ios/Flutter/.last_build_id
/android/app/debug/
android/app/profile/
android/app/release/

# 🌐 Web derlemeleri ve JS çıktıları
*.dart.js
*.info.json
*.js
*.js_
*.js.map
*.js.deps

# 🧪 Sembolleştirme & Obfuscation çıktıları
app.*.symbols
app.*.map.json

# 🛠 Diğerleri
.build/
.buildlog/
.swiftpm/